name: Remove Serverless Stack

on:
  workflow_dispatch: # Allows you to manually trigger this workflow

jobs:
  remove:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Remove Serverless Stack
        uses: serverless/github-action@v3.2
        with:
          args: remove
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
